.array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: #1B4965;
}

.button-container {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #1B4965;
    border-style: none;
    color: white;
}
